#settings
  .container
    .row

      // Office hours
      .col-xs-12.col-sm-6
        .panel.panel-default
          .panel-heading
            h4 Office hours
          .panel-body
            .col-xs-6
              div(uib-timepicker show-meridian="vm.office.meridian" ng-model="vm.office.open")
            .col-xs-6
              div(uib-timepicker show-meridian="vm.office.meridian" ng-model="vm.office.close")
            .col-xs-12
              label Timezone
              input.form-control(value="Europe/Berlin")

      // Bank holidays
      .col-xs-12.col-sm-6
        .panel.panel-default
          .panel-heading
            h4 Bank holidays
          .panel-body
            div(uib-datepicker ng-model="vm.dt" datepicker-options="vm.options")
