#login
  .cell
    .panel.panel-default.animate
      .panel-heading
        h3.text-center.bitelio bitelio

      form.form(name='form' ng-submit='vm.login(form)' novalidate)
        .panel-body
          .text-center(uib-alert role='alert' ng-show='vm.alert.text' ng-class='"alert-" + vm.alert.type') {{ vm.alert.text }}

          .form-group(ng-class='form.username.hasError')
            input.form-control(type='text' name='username' placeholder='Username' ng-model='vm.user.username' ng-change='vm.checkInput(form.username)' required)
            span.fa.fa-times.form-control-feedback(ng-show='form.username.hasError')
          .form-group(ng-class='form.password.hasError')
            input.form-control(type='password' name='password' placeholder='Password' ng-model='vm.user.password' ng-change='vm.checkInput(form.password)' required)
            span.fa.fa-times.form-control-feedback(ng-show='form.password.hasError')

        .panel-footer
          button.btn.btn-primary(type='submit' ng-disabled='form.$invalid') Login
          button.btn.btn-default.pull-right(ng-click='vm.showHelp()')
            span.fa.fa-question
          .clearfix
