#login
  display table
  position absolute
  height 100%
  width 100%

  .cell
    display table-cell
    vertical-align middle

  .panel
    margin-left auto
    margin-right auto
    width 350px
    &.animate
      animation fadeIn 0.8s ease-out

  .panel-body
    height 143px
    color #555

  .bitelio > a
    margin 10px
    color black
    text-decoration none

  input[name=username]
  input[name=newPassword]
    margin-top 15px

  .fa-question
    color #888

  div[uib-alert]
    width 100%
    position absolute
    &.ng-enter
    &.ng-leave
      -webkit-transition 0.5s ease-in-out all
      transition 0.5s ease-in-out all

    &.ng-enter
    &.ng-leave.ng-leave-active
      top -53px

    &.ng-leave
    &.ng-enter-active.ng-enter-active
      top 0px

@keyframes fadeIn
  from
    margin-top 100px
    opacity 0

  to
    margin-top 0px
    opacity 1
