#login
  .text-center(uib-alert role='alert' ng-show='vm.alert.text' close="vm.alert = {}" ng-class='"alert-" + vm.alert.type' dismiss-on-timeout='5000') {{ vm.alert.text }}
  .cell
    .panel.panel-default(ng-class='{"animate": vm.animate}')
      .panel-heading
        h3.text-center.bitelio
          a(href="/") bitelio

      div(ng-switch='vm.panel')
        form.form(name='login' ng-submit='vm.login(login)' ng-switch-when='login' novalidate)
          .panel-body
            .form-group(ng-class='login.username.hasError')
              input.form-control(type='email' name='username' placeholder='Username' ng-model='vm.user.username' ng-change='vm.checkInput(login.username)' required)
              span.fa.fa-times.form-control-feedback(ng-show='login.username.hasError')
            .form-group(ng-class='login.password.hasError')
              input.form-control(type='password' name='password' placeholder='Password' ng-model='vm.user.password' ng-change='vm.checkInput(login.password)' required)
              span.fa.fa-times.form-control-feedback(ng-show='login.password.hasError')
          .panel-footer
            button.btn.btn-primary(type='submit' ng-disabled='login.$invalid') Login
            button.btn.btn-default.pull-right(ng-click='vm.panel = "signup"')
              span.fa.fa-question
            .clearfix

        form.form(name='signup' ng-submit='vm.signup()' ng-switch-when='signup' novalidate)
          .panel-body
            h4 Need help logging in?
            p Enter your email below and follow the instructions.
            input.form-control(type='email' placeholder='Email' ng-model='vm.user.email')
          .panel-footer
            button.btn.btn-success(type='submit' ng-disabled='signup.$invalid') Send
            button.btn.btn-warning.pull-right(ng-click='vm.panel = "login"') Back
            .clearfix

        div(ng-switch-when='activate')
          .panel-body
            h4 Looks like you forgot your password...
            p No worries, an email is coming your way. Please, use the link provided to reset your password.
          .panel-footer
            button.btn.btn-warning.pull-right(ng-click='vm.panel = "login"') Back
            .clearfix

        div(ng-switch-when='reset')
          .panel-body
            h4 Hello, {{ vm.user.name }}!
            p Thank you for signing up. You will shortly receive an email with a link to activate your account. Please, check your inbox.
          .panel-footer
            button.btn.btn-warning.pull-right(ng-click='vm.panel = "login"') Back
            .clearfix

        div(ng-switch-when='unauthorized')
          .panel-body
            h4 Sorry, no access for you
            p Bitelio is currently limited to selected users. Please, make sure you log in with the same email used for your Leankit account.
          .panel-footer
            button.btn.btn-warning.pull-right(ng-click='vm.panel = "signup"') Back
            .clearfix
