#login
  display table
  position absolute
  height 100%
  width 100%

  .cell
    display table-cell
    vertical-align middle

  .panel
    margin-left auto
    margin-right auto
    width 350px

  .panel-body
    padding-top 30px

  .fa-question
    color #888

  h3
    margin 10px
