.modal-header
  button.close(type='button' ng-click='vm.close()') &times;
  h3.modal-title
    span.fa.fa-sign-in.fa-fw
    |
    | Logging in

.modal-body
  .text-center(uib-alert ng-class='"alert-" + vm.alert.type') {{ vm.alert.text }}

  p To activate your account, or simply if you don't know your password, provide your Leankit username in the box below.
  p We will send you an email with instructions for you to set up a new password.

  .row
    form.input-group.col-sm-8.col-sm-offset-2(name='form' ng-class='{"has-error": form.email.$touched && form.email.$invalid}')
      input.form-control(type='email' name='email' placeholder='Email' ng-model='vm.email' required)
      .input-group-btn
        button.btn.btn-success(type='button' ng-click='vm.submit()' ng-disabled='form.$invalid') Submit

  p If you need help getting started, do not hesitate to contact us.

.modal-footer
  button.btn.btn-default.pull-right(ng-click='vm.close()') Close
