$fa-font-path = '../assets/fonts/font-awesome/'
@import '~font-awesome-stylus/index'


$icon-font-path = '../assets/fonts/bootstrap/'
@import '~bootstrap-styl/bootstrap/index'


@font-face
  font-family bitelio
  src url(/assets/fonts/bitelio/bitelio.otf)

@import '../../node_modules/angular-bootstrap-toggle-switch/dist/css/bootstrap3/bootstrap-switch.css'

//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

body
  background-image url(/assets/images/background.png)

.bitelio
  font-family: bitelio, sans-serif

.panel
  box-shadow 3px 3px 8px #999

.table > tbody > tr > td
  vertical-align middle

/* inject:styl */
@import 'board/locale/locale';
@import 'board/stations/stations';
@import 'main/main';
@import 'public/public';
@import '../components/board/board';
@import '../components/navbar/navbar';
@import '../components/notifications/notifications';
/* endinject */
