$fa-font-path = '../assets/fonts/font-awesome/'
@import '~font-awesome-stylus/stylus/index'


$icon-font-path = '../assets/fonts/bootstrap/'
@import '~bootstrap-styl/bootstrap/index';


@font-face
  font-family bitelio
  src url(/assets/fonts/bitelio/bitelio.otf)

//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

body
  background-image: url(/assets/images/background.png)

.bitelio
  font-family: bitelio, sans-serif

/* inject:styl */
@import 'main/main';
/* endinject */
