$fa-font-path = '../assets/fonts/font-awesome/'
@import '~font-awesome-stylus/index'


$icon-font-path = '../assets/fonts/bootstrap/'
@import '~bootstrap-styl/bootstrap/index'


@font-face
  font-family bitelio
  src url(/assets/fonts/bitelio/bitelio.otf)

//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

body
  background-image url(/assets/images/background.png)

.bitelio
  font-family: bitelio, sans-serif

.panel
  box-shadow 3px 3px 8px #999

//ui-view
  //&.ng-enter
    //-webkit-transition 1s linear all
    //transition 0.8s linear all

  //&.ng-leave
    //-webkit-transition 1s linear all
    //transition 0.8s linear all

  //&.ng-enter
  //&.ng-leave.ng-leave-active
    //opacity 1

  //&.ng-leave
  //&.ng-enter-active.ng-enter-active
    //opacity 0

/* inject:styl */
@import 'account/login/login';
@import 'board/settings/settings';
@import 'main/main';
@import '../components/navbar/navbar';
/* endinject */
