div.navbar.navbar-inverse.navbar-static-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.bitelio(href='/') bitelio

    div.navbar-collapse.collapse(uib-collapse='$ctrl.isCollapsed')
      ul.nav.navbar-nav
        li(uib-dropdown on-toggle="toggled(open)")
          a(href uib-dropdown-toggle) {{ $parent.Board.BoardTitle }}
            span.caret
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="boards-menu")
            li(ng-repeat="board in $parent.Boards")
              a(href) {{ board.BoardTitle }}

      ul.nav.navbar-nav.navbar-right
        li(uib-dropdown on-toggle="toggled(open)")
          a(href uib-dropdown-toggle) {{ $parent.User.UserName }}
            span.caret
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="user-menu")
            li: a(ui-sref='settings')
              i.fa.fa-gear.fa-fw
              | Settings
            li.divider(role="separator")
            li: a(ui-sref='logout')
              i.fa.fa-sign-out.fa-fw
              | Log out
