div.navbar.navbar-inverse.navbar-static-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='$ctrl.isCollapsed = !$ctrl.isCollapsed')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.bitelio(href='/') bitelio

    div.navbar-collapse.collapse(uib-collapse='$ctrl.isCollapsed')
      ul.nav.navbar-nav
        li(uib-dropdown on-toggle="toggled(open)")
          a(href uib-dropdown-toggle) {{ $parent.Board.BoardTitle }}
            span.caret(ng-if="$parent.Boards")
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="boards-menu")
            li: h4 Boards
            li(ng-repeat="board in $parent.Boards")
              a(href)
                i.fa.fa-angle-right.fa-fw
                | {{ board.BoardTitle }}

        li(uib-dropdown on-toggle="toggle(open)")
          a(href uib-dropdown-toggle)
            i.fa.fa-line-chart.fa-lg
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="dashboards")
            li: h4 Dashboards
            li: a(href)
              i.fa.fa-angle-right.fa-fw
              | Quality
            li: a(href)
              i.fa.fa-angle-right.fa-fw
              | Delivery

        li(uib-dropdown on-toggle="toggle(open)")
          a(href uib-dropdown-toggle)
            i.fa.fa-columns.fa-lg
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="settings")
            li: h4 Board
            li: a(href)
              i.fa.fa-angle-right.fa-fw
              | Phases
            li: a(href)
              i.fa.fa-angle-right.fa-fw
              | Stations
            li: a(href)
              i.fa.fa-angle-right.fa-fw
              | Settings

      ul.nav.navbar-nav.navbar-right
        li(uib-dropdown on-toggle="toggled(open)")
          a(href uib-dropdown-toggle) {{ $parent.User.UserName }}
            span.caret
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="user-menu")
            li: h4 Account
            li: a(ui-sref='settings')
              i.fa.fa-user.fa-fw
              | User
            li.divider(role="separator")
            li: a(ui-sref='logout')
              i.fa.fa-sign-out.fa-fw
              | Log out
