div.navbar.navbar-inverse.navbar-static-top
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type="button", ng-click="$ctrl.collapsed = !$ctrl.collapsed")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.bitelio(href="/") bitelio

    div.navbar-collapse.collapse(uib-collapse="$ctrl.collapsed")
      ul.nav.navbar-nav
        // Boards
        li(ng-if="$ctrl.Board.AvailableBoards.length == 0")
          a {{ $ctrl.Board.Title }}
        li(uib-dropdown on-toggle="toggled(open)" ng-if="$ctrl.Board.AvailableBoards.length > 0")
          a(href uib-dropdown-toggle) {{ $ctrl.Board.Title }}&nbsp
            span.caret
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="boards-menu")
            li: h4 Boards
            li(ng-repeat="board in $ctrl.Board.AvailableBoards")
              a(href ng-click="$ctrl.Board.change(board.Id)")
                i.fa.fa-angle-right.fa-fw
                | {{ board.Title }}

        // Dashboards
        li(uib-dropdown on-toggle="toggle(open)")
          a(href uib-dropdown-toggle)
            i.fa.fa-line-chart.fa-lg
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="dashboards")
            li: h4 Dashboards
            li: a(href)
              i.fa.fa-angle-right.fa-fw
              | Quality
            li: a(href)
              i.fa.fa-angle-right.fa-fw
              | Delivery

        // Board
        li(uib-dropdown on-toggle="toggle(open)")
          a(href uib-dropdown-toggle)
            i.fa.fa-columns.fa-lg
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="board")
            li: h4 Board
            li: a(ui-sref="board.status")
              i.fa.fa-angle-right.fa-fw
              | Status
            li: a(ui-sref="board.stations")
              i.fa.fa-angle-right.fa-fw
              | Stations
            li: a(ui-sref="board.locale")
              i.fa.fa-angle-right.fa-fw
              | Locale

      ul.nav.navbar-nav.navbar-right
        // Account
        li(uib-dropdown on-toggle="toggled(open)")
          a(href uib-dropdown-toggle) {{ $ctrl.User.UserName }}&nbsp
            span.caret
          ul.dropdown-menu(uib-dropdown-menu aria-labelledby="account-menu")
            li: h4 Account
            li: a(ui-sref="account.info")
              i.fa.fa-user.fa-fw
              |  Info
            li: a(ui-sref="account.settings")
              i.fa.fa-cogs.fa-fw
              |  Settings
            li.divider(role="separator")
            li: a(ui-sref="logout")
              i.fa.fa-sign-out.fa-fw
              |  Log out
