td: span.fa.fa-bars(title='drag to move' ng-if="station.selected && vm.editable")
td {{ $index }}
td.input-cell: input(ng-model='station.Name')
td.input-cell: input(ng-model='station.Card' type='number' min='0' step='0.1')
td.input-cell: input(ng-model='station.Size' type='number' min='0' step='0.1')
td.input-cell: input(ng-model='station.Phase' ng-blur='vm.update()' uib-typeahead='phase for phase in vm.phases | filter:$viewValue | limitTo:3' typeahead-min-length='0')
td.text-center: span.badge {{ station.Lanes.length }}
td: span.fa.fa-times(ng-click='vm.remove($index)' title='click to delete' ng-if="station.selected && vm.editable")
