td: span.fa.fa-bars(title='drag to move' ng-if="station.selected && vm.editable")
td {{ $index }}
td {{ station.Name }}
td {{ station.Card }}
td {{ station.Size }}
td {{ station.Phase }}
td.text-center: span.badge {{ station.Lanes.length }}
td: span.fa.fa-times(ng-click='vm.remove($index)' title='click to delete' ng-if="station.selected && vm.editable")
