#stations(ng-click='vm.station = null')
  .container
    .row
      .col-xs-12
        .panel.panel-default(ng-click='$event.stopPropagation()')

          .panel-heading
            h4 Stations

          .panel-body(style="padding: 0")
            .board(ng-style='{"height": vm.boardHeight}')
              .lane(ng-repeat='(laneId, lane) in vm.lanes' ng-style='vm.styling(lane)' id='{{ laneId }}')
                .header(title='{{ lane.Title }}' ng-click='vm.select(lane)') {{ lane.Title }}
                .container(ng-if='lane.ChildLaneIds.length == 0' ng-class='{active: vm.station && vm.station.Lanes.indexOf(+laneId) > -1}')

          table.table.table-hover
            thead
              tr
                th(style='width: 28px')
                th(style='width: 36px') #
                th Station
                th(style='width: 70px') Card &nbsp
                  span.fa.fa-question-circle-o(uib-tooltip='Expected TRT for each card (working hours)')
                th(style='width: 70px') Size &nbsp
                  span.fa.fa-question-circle-o(uib-tooltip='Expected TRT per size unit (working hours)')
                th(style='width: 200px') Phase
                th(style='width: 60px').text-center Lanes
                th(style='width: 28px')
            tbody(ng-sortable)
              tr(ng-repeat='station in vm.stations' ng-click='vm.edit(station)' ng-include='station === vm.station && vm.editable ? "edit-station" : "show-station"' ng-class='{"warning": station === vm.station}')

          .panel-footer(ng-if='vm.editable')
            button.btn.btn-primary.pull-right(ng-click='vm.save()' ng-disabled='!vm.modified') Save
            button.btn.btn-default(ng-click='vm.add()')
              span.fa.fa-plus
            .clearfix
