#stations
  height 100vh

  // Board

  .board
    position relative
    background-color #c5c9be
    overflow-x scroll
    overflow-y hidden
    scroll-behavior smooth

    .lane
      position absolute
      pointer-events none

      .header
        width 100%
        color #222
        height 8px
        padding 0 2px
        font-size 6px
        text-align center
        background-color #fff
        vertical-align baseline
        text-overflow ellipsis
        white-space nowrap
        pointer-events auto
        cursor pointer

      .container
        position absolute
        top 9px
        bottom 0
        width 100%
        background-color #dcdfd8

        &.active
          background-color #ebede9

  // Table
  table
    white-space nowrap

  tbody > tr
    .fa-times
      cursor pointer
    .fa-bars
      cursor grab
      cursor -webkit-grab

  th:nth-child(3)
  th:nth-child(6)
    text-overflow ellipsis
    white-space nowrap

  td.input-cell
    padding 0

    > .form-group
      margin 0

    input
      border none
      background-color inherit
      width 100%
      padding 8px
