#stations
  table
    white-space nowrap

  tbody > tr
    .fa-times
      cursor pointer
    .fa-bars
      cursor row-resize

  th:first-child
  th:last-child
    width 28px

  th:nth-child(2)
    width 36px

  td.input-cell
    padding 0

    > .form-group
      margin 0

    input
      border none
      background-color inherit
      width 100%
      padding 8px
