.container
  .row

    // User Info
    .col-xs-12.col-sm-5
      .panel.panel-default
        .panel-heading
          h4 Profile
        .panel-body
          .row
            img.col-xs-4(src="https://www.gravatar.com/avatar/{{ vm.User.GravatarLink }}?d=mm&s=128" style="max-width: 128px")
            .form-horizontal.col-xs-8
              .form-group
                label.control-label.col-xs-3(for="name") Name:
                .col-xs-9
                  p.form-control-static {{ vm.User.FullName }}
                label.control-label.col-xs-3(for="email") Email:
                .col-xs-9
                  p.form-control-static {{ vm.User.UserName }}
                label.control-label.col-xs-3(for="id") Id:
                .col-xs-9
                  p.form-control-static {{ vm.User.Id }}

    // Boards
    .col-xs-12.col-sm-7
      .panel.panel-default
        .panel-heading
          h4 Boards
        table.table.table-hover
          thead
            tr
              th
              th Name
              th Role
          tbody
            tr(ng-repeat="board in vm.Board.Boards")
              td {{ $index + 1 }}
              td {{ board.Title }}
              td {{ board.Role }}
