#login
  .cell
    .panel.panel-default
      .panel-heading
        h3.text-center.bitelio bitelio

      form.form(name='form' ng-submit='vm.resetPassword(form)' novalidate)
        .panel-body
          .text-center.alert-danger(uib-alert role='alert' ng-show='vm.alert') {{ vm.alert }}

          .form-group(ng-class='vm.hasError(form.newPassword)' novalidate)
            input.form-control(type='password' name='newPassword' placeholder='New password' ng-model='vm.password.new' ng-minlength='6' required)
            span.fa.fa-times.form-control-feedback(ng-show='vm.hasError(form.newPassword)')
            p.help-block(ng-show='form.newPassword.$touched && form.newPassword.$error.minlength ') Your password must be at least 6 characters long

          .form-group(ng-class='vm.hasError(form.confirmPassword)' novalidate)
            input.form-control(type='password' name='confirmPassword' placeholder='Confirm password' ng-model='vm.password.confirm' ng-change='vm.checkPassword(form)' required)
            span.fa.fa-times.form-control-feedback(ng-show='vm.hasError(form.confirmPassword)')
            p.help-block(ng-show='vm.hasError(form.confirmPassword)') Passwords don't match

        .panel-footer
          button.btn.btn-primary.pull-right(type='submit' ng-disabled='form.$invalid') Submit
          .clearfix
